{% extends 'backoffice_base.html.twig' %}
{% block title %}Plats{% endblock %}
{% block backoffice_body %}
    <h1>Plats</h1>
    <a href="{{ path('employee_dishes_new') }}" class="cta">Nouveau plat</a>
    <ul>
        {% for dish in dishes %}
            <li>
                {{ dish.title }}
                <a href="{{ path('employee_dishes_edit', {id: dish.id}) }}">Modifier</a>
                <form method="post" action="{{ path('employee_dishes_delete', {id: dish.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dish.id) }}">
                    <button>Supprimer</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
