{% extends 'employee/base.html.twig' %}
{% block title %}Horaires d'ouverture{% endblock %}
{% block employee_body %}
    <h1>Horaires d'ouverture</h1>
    <form method="post" action="{{ path('employee_opening_hours_save') }}">
        {% for entry in hours %}
            <fieldset>
                <legend>{{ entry.day }}</legend>
                <label>Ouverture
                    <input type="time" name="open_{{ entry.day }}" value="{{ entry.openTime ? entry.openTime|date('H:i') : '' }}">
                </label>
                <label>Fermeture
                    <input type="time" name="close_{{ entry.day }}" value="{{ entry.closeTime ? entry.closeTime|date('H:i') : '' }}">
                </label>
            </fieldset>
        {% endfor %}
        <button type="submit" class="cta">Enregistrer</button>
    </form>
{% endblock %}
