<footer>
    <h3>Horaires d'ouverture</h3>
    <div>
        <p>Lundi : <span>{{ hours.Lundi }}</span></p>
        <p>Mardi : <span>{{ hours.Mardi }}</span></p>
        <p>Mercredi : <span>{{ hours.Mercredi }}</span></p>
        <p>Jeudi : <span>{{ hours.Jeudi }}</span></p>
        <p>Vendredi : <span>{{ hours.Vendredi }}</span></p>
        <p>Samedi : <span>{{ hours.Samedi }}</span></p>
        <p>Dimanche : <span>{{ hours.Dimanche }}</span></p>
    </div>
    <div>
        <p>© 2026 Vite et Gourmand</p>
        <a href="">CGU</a>
        <a href="">Mentions légales</a>
    </div>
</footer>
