{% for menu in menus %}
    <article>
        <h2>{{ menu.title }}</h2>
        <p>{{ menu.description }}</p>
        <div>
            <span>{{ menu.theme.label }}</span>
            <span>{{ menu.diet.label }}</span>
        </div>
        <p>Minimum {{ menu.minPeopleAmount }} personnes</p>
        <p>{{ menu.pricePerPeople }} € / personne</p>
        <p>Total : {{ menu.totalPrice }} €</p>
    </article>
{% endfor %}
