
{% block nav %}
<nav>
    <button class="cta">
        <img src="{{ asset('icon/hamburgerIcon.svg') }}" alt="Menu">
    </button>
    <ul>
        <li><a href="{{ path('homepage') }}" class="cta">
            <img src="{{ asset('icon/homepageIcon.svg') }}" alt="Accueil">
            <span>Accueil</span>
        </a></li>
        <li><a href="{{ path('menus') }}" class="menu cta">
            <img src="{{ asset('icon/menusIcon.svg') }}" alt="Menus">
            <span>Menus</span>
        </a></li>
        <li><a href="{{ path('contact') }}" class="cta">
            <img src="{{ asset('icon/contactIcon.svg') }}" alt="Nous contacter">
            <span>Nous contacter</span>
        </a></li>
        <li><a href="{{ path('user') }}" class="cta">
            <img src="{{ asset('icon/userIcon.svg') }}" alt="Utilisateur">
            <span>Connexion</span>
        </a></li>
    </ul>
</nav>
<script src="{{ asset('js/nav.js') }}" type="module"></script>
{% endblock %}